div{border: solid 1px red;
    margin: 20px;
    background-color: grey;}

span{border: solid 2px orange;
    background-color: blue;}

.s1{display: inline;
width: 200px;
height: 200px;}

.s2{display: block;
width: 200px;
height: 200px;}

.s3{display: inline-block;
width: 200px;
height: 200px;}

.s4{display: none;}